In [117]:
import pandas as pd

import numpy as np

#loading dataset
'''df_train = pd.read_csv('train.csv')
df_test  = pd.read_csv('test.csv')'''

In [118]:
#loading datasets
df = pd.read_csv('train.csv')

In [119]:
#to get the shape of dataset
df.shape

(69713, 22)

In [120]:
#to get top 5 entries on the data set
df.head()

#to get bottom 5 entries of the data set
df.tail()

,ID,Gender,DOB,Lead_Creation_Date,City_Code,City_Category,Employer_Code,Employer_Category1,Employer_Category2,Monthly_Income,...,Contacted,Source,Source_Category,Existing_EMI,Loan_Amount,Loan_Period,Interest_Rate,EMI,Var1,Approved
69708,APPU90955789628,Female,31-07-1983,30-09-2016,C10006,A,COM0000010,A,1.0,4900.0,...,N,S122,G,0.0,NaN,NaN,NaN,NaN,10,0
69709,APPV80989824738,Female,27-01-1971,30-09-2016,C10116,C,COM0045789,A,4.0,7190.1,...,N,S122,G,1450.0,NaN,NaN,NaN,NaN,7,0
69710,APPW50697209842,Female,01-02-1992,30-09-2016,C10022,B,COM0013284,C,4.0,1600.0,...,Y,S122,G,0.0,24000.0,4.0,35.50,943.0,2,0
69711,APPY50870035036,Male,27-06-1978,30-09-2016,C10002,A,COM0000098,C,3.0,9893.0,...,Y,S122,G,1366.0,80000.0,5.0,NaN,NaN,10,0
69712,APPZ60733046119,Male,31-12-1989,30-09-2016,C10003,A,COM0000056,A,1.0,4230.0,...,Y,S122,G,0.0,69000.0,4.0,13.99,1885.0,10,0

In [1]:
df.info()

NameError: name 'df' is not defined

In [ ]:
df.columns

In [121]:
#data types
df.dtypes

ID                                      object
Gender                                  object
DOB                                     object
Lead_Creation_Date                      object
City_Code                               object
City_Category                           object
Employer_Code                           object
Employer_Category1                      object
Employer_Category2                     float64
Monthly_Income                         float64
Customer_Existing_Primary_Bank_Code     object
Primary_Bank_Type                       object
Contacted                               object
Source                                  object
Source_Category                         object
Existing_EMI                           float64
Loan_Amount                            float64
Loan_Period                            float64
Interest_Rate                          float64
EMI                                    float64
Var1                                     int64
Approved                                 int64
dtype: object

In [122]:
#concatenation
df_combined = pd.concat([df_train, df_test])
#parameters.. axis=1, join='inner'

C:\Users\Abhishek\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

# change data type using astype

In [123]:
print(df_combined['Primary_Bank_Type'].dtypes) #initially data type was 'object'

#we cannot change datatype to numeric unless all null values are imputated
df_combined['Primary_Bank_Type'].fillna(method='bfill' ,inplace= True)

print(df_combined['Primary_Bank_Type'].dtypes)

#maping to 0's and 1's
df_combined['Primary_Bank_Type'] = df_combined.Primary_Bank_Type.map({'P':0,'G':1})

print(df_combined['Primary_Bank_Type'].dtypes)

#change data type
print(df_combined.Primary_Bank_Type.astype('int32').dtypes)
# astype(np.int32) can also be used

print(df_combined['Primary_Bank_Type'].dtypes)

object
object
int64
int32
int64

In [124]:
#the data type does not changed in original dataset
df_combined['Primary_Bank_Type']=(df_combined.Primary_Bank_Type.astype('int32'))
print(df_combined['Primary_Bank_Type'].dtypes) #now it is changed

In [ ]:
# fraud detection dataset
#how many unique values in card 1 where isFraud = 0
'''df[df.isFraud==0]['card1'].nunique()'''

In [ ]:
#segeregating numerical and categorical features
categorical_features = df.select_dtypes(include = np.object).columns
numerical_features   = df.drop(['isFraud','TransactionID'],axis = 1).select_dtypes(include = np.number).columns

In [ ]:
# percentage of class 1 in column
print("{}% of the data is having target class 1".format(round(len(df[df.isFraud==1])/len(df)*100),4))
print("{}% of the data is having target class 0".format(round(len(df[df.isFraud==0])/len(df)*100),4))

In [ ]:
#fraud detection dataset
#
_ = pd.merge(df.groupby('card1')[['isFraud']].count().rename(columns = {'isFraud':'total_rows'}),df[df.isFraud==1].groupby('card1')[['isFraud']].count().rename(columns = {'isFraud':'total_rows_1'}),on = ['card1'],how = 'inner')

pd.merge(_,df[df.isFraud==0].groupby('card1')[['isFraud']].count().rename(columns = {'isFraud':'total_rows_0'}),on = ['card1'],how = 'left')

In [ ]:
#fraud detection dataset
#
print(df[(df.M4=='M2') & (df.M2=='T')]['isFraud'].value_counts())