In [1]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

import seaborn as sns

In [2]:
#loading datasets
df_train = pd.read_csv('train.csv')
df_test  = pd.read_csv('test.csv')
#concatenation
df_combined = pd.concat([df_train, df_test])

C:\Users\Abhishek\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """

In [3]:
#null value check
df_combined.isnull().sum()

Approved                               30037
City_Category                           1128
City_Code                               1128
Contacted                                  0
Customer_Existing_Primary_Bank_Code    13428
DOB                                       18
EMI                                    67822
Employer_Category1                      5623
Employer_Category2                      5993
Employer_Code                           5623
Existing_EMI                              83
Gender                                     0
ID                                         0
Interest_Rate                          67822
Lead_Creation_Date                         0
Loan_Amount                            39580
Loan_Period                            39580
Monthly_Income                             0
Primary_Bank_Type                      13428
Source                                     0
Source_Category                            0
Var1                                       0
dtype: int64

In [6]:
#percentage of missing values
per_missing = round(df_combined.isnull().sum()/df_combined.shape[0]*100,2).sort_values(ascending=False)
per_missing

Interest_Rate                          67.99
EMI                                    67.99
Loan_Period                            39.68
Loan_Amount                            39.68
Approved                               30.11
Primary_Bank_Type                      13.46
Customer_Existing_Primary_Bank_Code    13.46
Employer_Category2                      6.01
Employer_Code                           5.64
Employer_Category1                      5.64
City_Category                           1.13
City_Code                               1.13
Existing_EMI                            0.08
DOB                                     0.02
Source_Category                         0.00
Gender                                  0.00
ID                                      0.00
Lead_Creation_Date                      0.00
Contacted                               0.00
Monthly_Income                          0.00
Source                                  0.00
Var1                                    0.00
dtype: float64

In [10]:
per_missing.index

Index(['Interest_Rate', 'EMI', 'Loan_Period', 'Loan_Amount', 'Approved',
       'Primary_Bank_Type', 'Customer_Existing_Primary_Bank_Code',
       'Employer_Category2', 'Employer_Code', 'Employer_Category1',
       'City_Category', 'City_Code', 'Existing_EMI', 'DOB', 'Source_Category',
       'Gender', 'ID', 'Lead_Creation_Date', 'Contacted', 'Monthly_Income',
       'Source', 'Var1'],
      dtype='object')

In [12]:
#finding unique values
df_combined.City_Code.nunique()

704

In [4]:
#dropping columns
df_combined.drop(['Source','Customer_Existing_Primary_Bank_Code','Employer_Code','City_Code','Interest_Rate','EMI'],axis=1,inplace=True)

In [8]:
#imputation by mean
df_combined.Loan_Amount.mean()

39445.98637194615

In [13]:
df_combined['Loan_Amount'].fillna(value= df_combined.Loan_Amount.mean(), inplace= True)
#df_combined['Loan_Amount'].fillna(value= 39446, inplace= True)

In [15]:
#backward fill
df_combined['City_Category'].fillna(method='bfill' ,inplace= True)